body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #9ecef8, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.blocked-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 2.5rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.blocked-card h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #b70303;
    margin-bottom: 1rem;
}

.blocked-card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 2rem;
}

.btn-back {
    background: #ffffff;
    color: #000000;
    border-radius: 12px;
    padding: 12px 30px;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
}

.btn-back:hover {
    background: #000000;
    color: #fff;
}

.blocked-icon {
    font-size: 50px;
    color: #b70303;
    margin-bottom: 15px;
}